.main {

    .maintitle {

        h5 {
            margin-bottom: 20px;
        }

        .grid {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            width: 100%;
            height: 2px;
            background-color: #e7e5e5;

            .f {
                background-color: black;
            }
        }
    }

    .maincontent {
        margin-top: 30px;
        width: 100%;
        height: 500px;
        display: flex;


        .c1 {
            width: (100% / 3);
            height: inherit;
            background-color: bisque;
        }

        .c2 {
            width: (100% / 3);
            height: inherit;
            background-color: cadetblue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .c21 {
                width: 90%;
                height: 50%;
                margin-bottom: 20px;
                background-color: darkgrey;
            }
            .c22 {
                width: 90%;
                height: 50%;
                background-color: green;
            }

        }

        .c3 {
            width: (100% / 3);
            height: inherit;
            background-color: sandybrown;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .c31 {
                width: 90%;
                height: (100% / 3);
                margin-bottom: 20px;
                background-color: deepskyblue;
            }
            .c32 {
                width: 90%;
                height: (100% / 3);
                margin-bottom: 20px;
                background-color: sienna;
            }
            .c33  {
                width: 90%;
                height: (100% / 3);
                background-color: seagreen;
            }
        }
    }

}