.main {
    margin-bottom: 60px;

    .maintitle {

        h5 {
            margin-bottom: 20px;
        }

        .maintitlecontainer {
            width: 100%;
            height: 2px;
            background-color: #efefef;

            div {
                width: 200px;
                height: inherit;
                background-color: black;

            }
        }

        .griditem {
            background-color: #efefef;
        }

        .f {
            background-color: black;
        }
    }

    .maincontent {
        margin-top: 30px;
        width: 100%;
        height: 430px;
        display: flex;


        .c1 {

            width: (100% / 3);
            height: inherit;

            h4 {
                font-weight: 700;
            }


            .textdivmain1 {
                height: 48%;
                display: flex;
                flex-direction: column;

                .text11 {
                    width: 100%;
                    height: 50%;

                }


                .text21 {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                }
            }

        }

        .c2 {
            width: (100% / 3);
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .c21 {
                width: 90%;
                height: 46.5%;
                margin-bottom: 20px;

            }

            .c22 {
                width: 90%;
                height: 46.5%;

            }

            .textdivmain {
                width: 55%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                float: right;

                .text1 {
                    width: 100%;
                    height: 70%;
                }

                .text2 {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                }
            }

        }

        .c3 {
            width: (100% / 3);
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            .textdivmain {
                width: 55%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                float: right;

                .text1 {
                    width: 100%;
                    height: 70%;
                }

                .text2 {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                }
            }

            .c31 {
                width: 90%;
                height: (100% / 3);
                margin-bottom: 20px;

            }

            .c32 {
                width: 90%;
                height: (100% / 3);
                margin-bottom: 20px;

            }

            .c33 {
                width: 90%;
                height: (100% / 3);

            }
        }
    }

}

.imgdivmain {
    width: 40%;
    height: 100%;
    object-fit: cover;
    float: left;

    img {
        width: 100%;
        height: 100%;
    }
}

.imgdivmain1 {
    width: 100%;
    height: 46%;
    object-fit: contain;

    img {
        width: 100%;
        height: 100%;
    }

    margin-bottom: 20px;
}

.fa-bookmark {
    float: inline-end;
}

.bk {
    line-height: 1.5 !important;
}

#tb {
    font-weight: 600;
}