@import "assets/reset";
@import "assets/login/mainpart";
@import "assets/login/imagepart";
@import "assets/login/form";

body {
    height: 100%;
    display: flex;
    align-items: center;
}


input::placeholder {
    font-size: 18px;
    text-align: start;
    padding-left: 10px;
    opacity: .8;
    font-family: "Outfit", sans-serif;
}

input[type="password"] {
    letter-spacing: 0.125em;
}
input[type="password"]::placeholder {
    letter-spacing: 0;
}