@import "assets/navbar-one";
@import "assets/navbar-two";
@import "assets/header";
@import "assets/main";
@import "assets/reset";

::placeholder {
    opacity: .5;
}

body {
    display: flex;
    justify-content: center;
}

.content {
    width: 90%;
}

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}