.mainpart {
    width: 42%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        width: 80%;
        height: 80%;

        .header {
            width: 100%;
            display: flex;
            justify-content: center;

            .textpart {
                width: 75%;

                h1 {
                    text-align: center;
                    font-size: 55px;
                    font-weight: 500;
                    font-family: "Outfit", sans-serif;
                    font-optical-sizing: auto;
                }

                p {
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: center;
                    margin-top: 20px;
                    font-size: 16px;
                    opacity: 0.8;
                }
            }
        }

        .formain {
            form {
                margin-top: 70px;
                display: flex;
                flex-direction: column;

                input {
                    font-size: 20px;
                    font-family: "Outfit";
                    padding: 17px;
                    border-radius: 50px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgba($color: #000000, $alpha: .4);
                    outline: none;
                }

                #input1 {
                    margin-bottom: 13px;
                }

                #input2 {
                    width: 100%;
                }

                .password-input {
                    width: 100%;
                    position: relative;

                    .password-eye-c {

                        #password-eye {
                            position: absolute;
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                            cursor: pointer;
                            font-size: 21.5px;
                            left: 450px;
                            top: 35%;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}