.maincontent {
    background-color: rgb(235, 236, 240);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    .prew {
        margin-top: 20px;
        background-color: white;
        width: 90%;
        height: 370px;
        border-radius: 10px;
    }
}