.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
}

.navbar-one {
  padding-top: 10px;
  padding-bottom: 0px;
}
.navbar-one .brand-logo {
  border-radius: 2px;
  padding-left: 0%;
}

.navbar-one_ul {
  display: flex;
  justify-content: space-between;
}
.navbar-one_ul li {
  list-style-type: none;
}
.navbar-one_ul .btn_a {
  border-radius: 3px;
  padding: 7px;
  transition: all 220ms;
}
.navbar-one_ul .btn_b {
  color: green;
}
.navbar-one_ul form {
  display: flex;
  justify-content: center;
}
.navbar-one_ul form input {
  border: none;
  width: 40%;
  outline: none;
}
.navbar-one_ul form button {
  border: none;
  background-color: white;
}

#nav2-ul {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
#nav2-ul .nav-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.7;
}
#nav2-ul .nav-item .active {
  padding-left: 0%;
}
#nav2-ul .nav-item img {
  margin-left: 7px;
  vertical-align: sub;
}

.sticky {
  position: fixed;
  top: 0;
  width: inherit;
}

.sticky + .navbar2 {
  padding-top: 60px;
}

.header {
  overflow-x: hidden;
  background-color: rgb(252, 239, 225);
  margin-bottom: 30px;
}
.header .container-fluid {
  width: 100%;
}
.header .container-fluid .headercontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 323px;
  float: left;
}
.header .container-fluid .headercontent .headertext {
  display: flex;
  flex-direction: column;
}
.header .container-fluid .headercontent .headertext h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 10px;
}
.header .container-fluid .headercontent .headertext p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17.5px;
  margin-bottom: 45px;
}
.header .container-fluid .headercontent .headerbtn #btn1 {
  padding: 8px 22px;
  background-color: black;
  color: white;
  border-radius: 3px;
}
.header .container-fluid .headercontent .headerbtn #btn2 {
  margin-left: 3px;
  padding: 9px 23px;
  border-radius: 3px;
  vertical-align: baseline;
  transition: all 200ms;
}
.header .container-fluid .headercontent .headerbtn #btn2 :hover {
  color: white;
  background-color: green;
}
.header .container-fluid img {
  width: 50%;
  float: right;
}

.main .maintitle h5 {
  margin-bottom: 20px;
}
.main .maintitle .grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  height: 2px;
}
.main .maintitle .f {
  background-color: black;
}
.main .maincontent {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  display: flex;
}
.main .maincontent .c1 {
  width: 33.3333333333%;
  height: inherit;
}
.main .maincontent .c1 #bookmark {
  float: inline-end;
}
.main .maincontent .c1 h4 {
  font-weight: 700;
}
.main .maincontent .c1 p {
  opacity: 0.8;
}
.main .maincontent .c1 img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 25px;
}
.main .maincontent .c2 {
  width: 33.3333333333%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main .maincontent .c2 .c21 {
  width: 90%;
  height: 50%;
  margin-bottom: 20px;
}
.main .maincontent .c2 .c22 {
  width: 90%;
  height: 50%;
}
.main .maincontent .c3 {
  width: 33.3333333333%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main .maincontent .c3 .c31 {
  width: 90%;
  height: 33.3333333333%;
  margin-bottom: 20px;
}
.main .maincontent .c3 .c32 {
  width: 90%;
  height: 33.3333333333%;
  margin-bottom: 20px;
}
.main .maincontent .c3 .c33 {
  width: 90%;
  height: 33.3333333333%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  opacity: 0.5;
}

body {
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
}

.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

/*# sourceMappingURL=main.css.map */
